
@{
    ViewData["Title"] = "Home Page";
}


<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Activity Feed</h3>
    </div>
    <div class="panel-content panel-activity">
        @await Component.InvokeAsync("AddTweet")

        <ul class="panel-activity__list" id="TweetsList">
        </ul>
        <div id="loader" class="text-center" style="display: none;">
            <img src='/images/loading.gif'>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/get-tweets.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
