


@{
    ViewData["Title"] = "Home Page";


}


<div class="panel">
    <div class="panel-heading">
        @if (!User.Identity.IsAuthenticated)
        {
            <h3 class="panel-title">Wellcome To FaceBook</h3>
        }
       
    </div>
    <div class="panel-content panel-activity">
        @if (User.Identity.IsAuthenticated)
        {
            <h3 class="panel-title">Activity Feed</h3>
            @await Component.InvokeAsync("AddPost")
        }


        <ul class="panel-activity__list" id="loadPostList">
        </ul>
        <div id="loader" class="text-center" style="display: none;">
            <img src='/images/loading.gif'>
        </div>
    </div>
</div>



<script src="~/js/get-posts.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
