@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager


<div class="container">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">

        </div>
        <div class="mx-auto order-0">
            <form class="form-inline" id="searchform" asp-controller="Search" asp-action="Index" method="get">
                <input class="form-control mr-sm-2" type="search" name="userName" onkeypress="keypress(event)" placeholder="Search" aria-label="Search">
            </form>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <form method="post" asp-controller="account" asp-action="Logout">
                            <button type="submit" class="btn btn-light btn-sm">
                                <i class="fa fa-sign-out" aria-hidden="true"></i> Log out
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <div class="btn-toolbox">
                        <div class="btn-group">
                            <a asp-controller="Account" asp-action="Register" class="btn btn-warning btn-sm">Sign Up</a>
                        </div>

                        <div class="btn-group">
                            <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-sm">Sign In</a>
                        </div>
                    </div>
                }
            </ul>
        </div>
    </nav>
</div>
