@model RegisterDto
@{
    ViewData["Title"] = "Register";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Registration Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->

    <link href="~/asset/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->

    <link href="~/asset/css/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    
    <link href="~/asset/css/adminlte.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="Login"><b>Face</b>Book</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg text-bold text-uppercase">Register</p>
               
                <p class="text-bold text-md-center">Last step to start funny moments..</p>

                <form method="post" class="form-signin" asp-action="Register">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-label-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" placeholder="E-Mail" />

                    </div>
                    <div class="form-label-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" placeholder="Username" />

                    </div>
                    <div class="form-label-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" placeholder="Name" />


                        </div>
                        <div class="form-label-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" placeholder="Password" />

                        </div>
                        <div class="form-label-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />

                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Register</button>
</form>

                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Sign up using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>
                        Sign up using Google+
                    </a>
                </div>

                <a href="Login" class="text-center">I already have a membership</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
  
    <script src="~/asset/scripts/jquery.min.js"></script>
    <!-- Bootstrap 4 -->

    <script src="~/asset/scripts/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
  
    <script src="~/asset/scripts/adminlte.min.js"></script>
</body>
</html>

@section Scripts
 {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

